[Unit]
Description=hudson slave Service
After=network.target

[Service]
Type=simple
User=hudson
ExecStart=/usr/bin/java -jar /home/hudson/slave.jar -jnlpUrl http://sw6-builder:8080/slaveJnlp?name=builder-omci6
Restart=on-abort

[Install]
WantedBy=multi-user.target
